body {
    margin: 0;
    padding: 0;
}
* {
    font-family: Geist, "Google Sans", sans-serif !important;
}
.quickTable th, .quickTable td {
    outline: 1px solid black;
    padding: 5px;
}
.quickTable thead {
    outline: 1px solid black;
}